h3 {
  text-align: center;
}

input {
  padding: 5px 10px !important;
}

a {
  display: block;
}

button {
  margin-right: 1rem;
}

.group-buttons {
  width: fit-content;
  display: flex;
  align-items: center;
  margin: 0 auto;
}